<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <%- include('_partials/header.ejs') %>
        <h1 class="text-center p-4 mt-5">Lista De Pedidos</h1>
        <article class="container">
            <% if (pedidos) { %>
                <table class="table table-striped table-hover table-dark text-center align-middle">
                    <thead class="table-secondary">
                        <th scope="col">Id Pedido</th>
                        <th scope="col">Número de Pedido</th>
                        <th scope="col">Fecha del Pedido</th>
                        <th scope="col">Id Cliente</th>
                        <th scope="col">Cantidad del Producto</th>
                        <th scope="col">Acciones</th>
                    </thead>
                    <tbody class="table-group-divider">
                        <% pedidos.forEach(function(pedido) { %>
                            <tr>
                                <td><%= pedido.id_pedido %></td>
                                <td><%= pedido.nro_pedido %></td>
                                <td><span class="fecha-pedido" data-fecha="<%= pedido.fecha_pedido %>"></span></td>
                                <td><%= pedido.id_cliente %></td>
                                <td><%= pedido.cantidad_producto %></td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                        data-bs-target="#modalModificarPedido_<%= pedido.id_pedido %>">
                                        Modificar pedido
                                    </button>
                                </td>
                            </tr>

                            <!-- Modal para modificar pedido -->
                            <section class="modal fade bg-dark" id="modalModificarPedido_<%= pedido.id_pedido %>"
                                tabindex="-1" aria-labelledby="modalModificarPedidoLabel_<%= pedido.id_pedido %>"
                                aria-hidden="true">
                                <article class="modal-dialog">
                                    <section class="modal-content">
                                        <article class="modal-header">
                                            <h5 class="modal-title"
                                                id="modalModificarPedidoLabel_<%= pedido.id_pedido %>">
                                                Modificar Pedido - <%= pedido.id_pedido %>
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Cerrar"></button>
                                        </article>
                                        <article class="modal-body">
                                            <form action="/pedidos/modificar/<%= pedido.id_pedido %>"
                                                method="POST">
                                                <section class="form-group mb-3">
                                                    <label for="nro_pedido_<%= pedido.id_pedido %>">Número de Pedido</label>
                                                    <input type="number" class="form-control"
                                                        id="nro_pedido_<%= pedido.id_pedido %>" name="nro_pedido"
                                                        value="<%= pedido.nro_pedido %>" required>
                                                </section>
                                                <section class="form-group mb-3">
                                                    <label for="cantidad_producto_<%= pedido.id_pedido %>">Cantidad del Producto</label>
                                                    <input type="number" class="form-control"
                                                        id="cantidad_producto_<%= pedido.id_pedido %>" name="cantidad_producto"
                                                        value="<%= pedido.cantidad_producto %>" min="1" required>
                                                </section>
                                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                            </form>
                                        </article>
                                    </section>
                                </article>
                            </section>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
            <section class="text-center p-4">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modalAgregarPedido">
                    Agregar Pedido
                </button>
            </section>
        </article>

        <!-- Modal para agregar pedido -->
        <section class="modal fade" id="modalAgregarPedido" tabindex="-1" aria-labelledby="modalAgregarPedidoLabel"
            aria-hidden="true">
            <article class="modal-dialog">
                <section class="modal-content">
                    <article class="modal-header">
                        <h5 class="modal-title" id="modalAgregarPedidoLabel">Agregar Nuevo Pedido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </article>
                    <article class="modal-body">
                        <form action="/pedidos/agregar" method="POST">
                            <section class="form-group mb-3">
                                <label for="nro_pedido">Número de Pedido</label>
                                <input type="number" class="form-control" id="nro_pedido" name="nro_pedido" required>
                            </section>
                            <section class="form-group mb-3">
                                <label for="id_cliente">Id Cliente</label>
                                <input type="number" class="form-control" id="id_cliente" name="id_cliente" required>
                            </section>
                            <section class="form-group mb-3">
                                <label for="cantidad_producto">Cantidad del Producto</label>
                                <input type="number" class="form-control" id="cantidad_producto" name="cantidad_producto" min="1" required>
                            </section>
                            <button type="submit" class="btn btn-primary">Agregar Pedido</button>
                        </form>
                    </article>
                </section>
            </article>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const fechaElements = document.querySelectorAll('.fecha-pedido');
                fechaElements.forEach(function (element) {
                    const fecha = new Date(element.getAttribute('data-fecha'));
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    const formattedDate = fecha.toLocaleDateString('es-ES', options);
                    element.textContent = formattedDate;
                });
            });
        </script>
</body>

</html>
